# Step 1: Make sure you have direnv installed on your system
# If not, follow the installation instructions at https://direnv.net/

# Step 2: Install virtualenv if it's not already installed
# pip install virtualenv

# Step 3: Create a new virtual environment in your project directory
# virtualenv .venv

# Step 4: Create a .envrc file in your project directory and add the following content

# .envrc
export PROJECT_ROOT=$(pwd)
export VIRTUAL_ENV=$PROJECT_ROOT/.venv
export PATH=$VIRTUAL_ENV/bin:$PATH
export PYTHONPATH=$PROJECT_ROOT
export DEV_PYTHON_VERSION=3.11.7

[[ -f .envrc.local ]] && source_env .envrc.local

if type poetry >/dev/null 2>&1; then
    echo "Poetry is already installed"
else
    echo "Installing poetry==1.7.1"
    pip install poetry==1.7.1
fi

pyenv install $DEV_PYTHON_VERSION

poetry install

# Step 5: Allow direnv to load the configuration
# direnv allow

# Now, whenever you enter your project directory, direnv will automatically activate the virtual environment

layout pyenv $DEV_PYTHON_VERSION
